body {
	background-color: #1b1bad; 
	font-family: sans-serif;
}

.oflow {
	overflow: auto;
	width: 100%;
}

.full_page {
	width: 1150px;
	height: 845px;
	background-color: #d9d9d9;
	margin-top: 10px;
}

.boxes {
	background-color: #f2f2f2;		/* off-white */
	margin: 10px;
}

.menu_pic {
	width: 100%;
}

.logo_pic {
	width: 65%;
}

.magg {
	width: 40%;
	margin-top: 2px;
}

#menu {
	width: 20px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#logo {
	width: 100px;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 30px;
	float: left;
}

#form_txt {
	font-size: 16px;
	padding-left: 5px;
	width: 600px;
	height: 20px;
	margin-top: 7px;
	float: left;
}

#submit_button {
	width: 60px;
	height: 26px;
	margin-top: 7px;
	float: left;
}

#signin {
	width: 100px;
	margin-top: 6px;
	float: right;
}

.signin_pic {
	width: 65%;
	/*margin: auto 0 auto 5px;
	float: left;*/
}

#upload {
	width: 60px;
	margin-top: 8px;
	float: right;
}

.upload_pic {
	width: 45%;
	/*margin: auto 0 auto 5px;
	float: left;*/
}

#nav_entries {
	width: 1130px;
	height: 40px;
}

#vid_entries {
	width: 656px;
	height: 396px;
	float: left;
	border: 2px solid #110d20;
}

#img_entries {
	width: 450px;
	height: 760px;
	float: right;
}

.img_hdr {
	margin: 0 10px 5px 10px;
}

#a_lft {
	float: left;
	margin-right: 100px;
	font-size: 16px;
}

#a_rt {
	float: right;
	margin-left: 100px;
	font-size: 16px;
}

.img_pic {
	width: 144px;
	height: 144px;
	/*border: 2px solid #110d20;*/
	margin: 5px;
	float: left;
}

.img_txt {
	width: 280px;
	height: 154px;
	margin: 5px 5px 0 5px;
	float: left;
}

h2 {
	font-weight: normal;
	margin-left: 15px;
}

h4 {
	font-weight: bold;
}

.img_txt:hover {
	color: #0000ff;
}

.img_txt p {
	font-weight: medium;
	font-size: 14px;
	color: #8d8b8e;
	line-height: 4px;
	clear: left;
}

.my_hr {
	width: 420px;
	float: left;
	margin: 10px;
}

.my_br {
	width: 420px;
	float: left;
}

#comment_entries {
	width: 660px;
	height: 340px;
	float: left;
}

#vid_title {
	width: 660px;
	height: 80px;
	float: left;
}

#me_ncc {
	width: 15%;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
}

#whoami {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#sub_pic {
	width: 15%;
	margin-left: 5px;
	margin-top: 20px;
	border: 1px solid red;
	float: left;
}

#subcount {
	width: 38px;
	height: 18px;
	padding: 4px 2px 2px 4px;
	margin-left: 0;
	margin-top: 20px;
	border: 1px solid black;
	float: left;
}

#viewcount {
	font-size: 24px;
	font-weight: lighter;
	width: 180px;
	height: 28px;
	padding: 4px 2px 2px 4px;
	margin-right: 20px;
	margin-top: 30px;
	/*border: 1px solid black;*/
	float: right;
}

#gap {
	width: 95%;
	background-color: #e0e0eb;
	border: 2px solid #e0e0eb;
}

#add_icon, #share_icon, #dots_icon {
	width: 5%;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
}

#add_txt, #share_txt, #dots_txt {
	color: #999999;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 30px;
}

#thumbs_up_txt {
	color: #999999;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 5px;
}

#thumbs_up_icon {
	width: 5%;
	margin-left: 95px;
	margin-top: 10px;
	float: left;
}

#thumbs_down_txt {
	color: #999999;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 5px;
}

#thumbs_down_icon {
	width: 5%;
	margin-left: 45px;
	margin-top: 10px;
	float: left;
}